huggingface-hub
langchain
langchain-core
langchain-exa
# langchain-groq
langchain-community
langchain-ollama
ollama
flask

langgraph
langgraph-checkpoint-postgres
langgraph-sdk
nltk
numpy
pydantic-settings
python-dotenv
redis
scikit-learn
scipy
sentence-transformers
streamlit
torch
transformers
uvicorn
starlette
langchain-tavily

pyfiglet
"typer[all]" rich